<header>
    <h1>Space Robots</h1>
    <h2>Your Robo-Squad power is: <span class="squad-total-points"><%=@squad_total_points%></span></h2>
    <!--p>Fill in all your slots! But get rid of duplicates!</p-->
</header>

<div class="robot-component-list">

    <% @robots.each_with_index do |robot, index| %>

        <% if robot %>

            <div class="robot-component <%=robot["planet"].downcase%>">
                <img class="robot-avatar" src="https://robohash.org/<%=robot["img_id"]%>?size=200x200&set=set1"">
                <div class="robot-info">
                    <h2><%=robot["name"]%></h2>
                    <h3><%=robot["planet"]%></h3>
                    <div class="robot-power-bar">
                        <span style="width: <%=robot["power"]%>%"><%=robot["power"]%></span>
                    </div>
                </div>
                <%= link_to("x", delete_robot_path(index), class: "robot-icon-delete") %>
            </div>

        <% else %>

            <%= link_to("Create Robot", new_robot_path(index), class: "robot-component empty") %>

        <% end %>

    <% end %>

    <%= link_to("Start a new game", refresh_path, class: "new-game") %>


</div>