
<div class="robot-component-list">

    <% @robots.each_with_index do |robot, index| %>

        <% if robot %>

            <div class="robot-component <%=robot["planet"].downcase%>">
                <img class="robot-avatar" src="https://robohash.org/<%=robot["img_id"]%>?size=200x200&set=set1"">
                <div class="robot-info">
                    <h2><%=robot["name"]%></h2>
                    <h3><%=robot["planet"]%></h3>
                    <div class="robot-power-bar">
                        <span style="width: <%=robot["power"]%>%"></span>
                    </div>
                </div>
            </div>

        <% else %>

            <a href="#" class="robot-component empty">
                <span>Create Robot</span>
            </a>

        <% end %>

    <% end %>

</div>

<%= image_tag("delete-button.png", alt: "Delete Robot", class: '')%>
<%= image_tag("information.png", alt: "Information about the Robot", class: '')%>
