<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Space Robots</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <header>
        <h1>Space Robots</h1>
        <h2>Build your 8-robot-squad</h2>
        <p>Your squad must have a robot for each solar planet!</p>
    </header>

    <%= yield %>
  </body>
</html>
